:root {
--background: #f2f2f2;
--primary:#d4d4d4;
--contrast:#6a6fe1;
}

* {
    padding: 0;
    box-sizing:border-box;
    word-wrap: break-word;
    line-height: 1.5rem;
    font-size:1rem;
}
body {
    margin:0; 
    background:#efefef;
    font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
    color:var(--primary)
}


.wrapper {
    display:grid;
    grid-gap:15px;
    max-width:1400px;
    margin:0 auto;
    background:var(--background);
    padding:0 5rem;
}


// navigation

.nav-main ul {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 4fr repeat(5, 1fr);
    list-style: none;
    margin:0;
    border-bottom:1px solid #ddd;
}
.nav-main a {
    color: #444;
    background-color:var(--background);
    display:block; // i need to keep this!
    font-weight:400;
    text-decoration: none;
    padding:2rem 1rem;
    text-align: center;
    font-size:1rem;
    font-style: uppercase;
    line-height:1.8rem;
    transition: all 1000;
}

.nav-main a:hover {
    color:var(--contrast);
    font-weight: 100;
}



.nav-main header h1 a {
    text-align:left;
    font-size:2.4rem;
    font-weight:800;
}

/* .nav-main header h1 {
     margin:0;
 }

 login*/

.login ul {
    justify-content: right;
    list-style: none;
}


//articles
.articles {
    display: grid;
    grid-gap:2rem;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

/* global for .last_article and .remain*/
.last_article, .remain {
    padding:2.5rem 0;
    position: relative;
    display:grid;
    text-align:left;
    opacity: 0.8;
    border-bottom:1px solid #ddd;
}
// individual
.remain {
    height:15rem;
}

.last_article {
     grid-column:1/4;
     height:20rem;
}

// style for background images

.bg-image {
    background-image:url('abstractbg.jpeg');
}
.bg-image, .bg-image-diff {
    position:absolute;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:13rem;
    width:100%;
    z-index:0;
    opacity:0.6;
}
.last_article .bg-image, .last_article .bg-image-diff {
    height:18rem;
}


.last_article:hover, .remain:hover {
    opacity:1
}

// content styling

 .art-content {
    padding-left:2rem;
    padding-bottom:0.5rem;
    align-self:end;
    z-index:2;
}



// Zlikwidować treść artykułów, albo ograniczyć
// zrobić sensowną nawigacje
// przewalić login do prawego rogu