:root {
--background: #f2f2f2;
--primary:#d4d4d4;
--contrast:#6a6fe1;
}

* {
    padding: 0;
    box-sizing:border-box;
}
body {
    margin:0; 
    background:var(--background);
    font-family: 'Slabo 27px', serif;
}
a {
    text-decoration: none;
    color:var(--primary)
}


.wrapper {
    display:grid;
    grid-gap:15px;
    margin:0 6rem;
    background:var(--background);
}


// navigation

.nav-main ul {
    display:grid;
    grid-gap: 20px;
    grid-template-columns: 4fr repeat(5, 1fr) 1fr;
    list-style: none;
    margin:0;
}
.nav-main a {
    color: #444;
    background-color:var(--background);
    display:block; // i need to keep this!
    font-weight:400;
    text-decoration: none;
    padding:30px;
    text-align: right;
    font-size:1rem;
    font-style: uppercase;
    line-height:1.8rem;
    transition: all 1000;
}

.nav-main a:hover {
    color:var(--contrast);
    font-weight: 100;
}



.nav-main header h1 a {
    text-align:left;
    font-size:2.4rem;
    font-weight:800;
}

.nav-main header h1 {
    margin:0;
}

// login

.login ul {
    justify-content: right;
    list-style: none;
}


//articles
.articles {
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(4, 1fr);
}

.last_article {
    position: relative;
    display:grid;
    grid-column:1/5;
    text-align:left;
    height:15rem;
    opacity: 0.9;

}
.remain {
    position:relative;
    display:grid;
}
.last_article .bg-image,
.remain .bg-image {
    position:absolute;
    background:url('abstractbg.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    height:15rem;
    width:100%;
    z-index:0;
    opacity:0.6;
}
.last_article:hover {
    opacity:1
}
 .art-content {
    z-index:2;
    padding: 30px;
}



// ubrać w równe kwadraty - jeżeli nie ma obrazka niech bedzie jakiś domyślny. Zlikwidować treść artykułów, albo ograniczyć
// zrobić sensowną nawigacje
// przewalić login do prawego rogu