* {
	padding:0;
	font-family:Lato;
}
xmp {
	margin:0;
	padding:0;
}

table, th, td {
	border: 1px solid black;
	padding:10px;
	border-collapse: collapse; /* Jeżeli chcemy żeby tabelka miała wszystkie linie razem - musimy wybrać wszystkie elementy od table, th, td
	i zastosować border-collapse:collapse - daje nam to spojną tabelke bez przerw miedzy komórkami */
	/*warto też wiedzieć, ze th - oznacza table header - domyślnie jest pogrubiony i jest wyśrodkowany. */
} 
body {
	margin:0;
}



header {
	margin-top:-4%;
	display: flex;
	height: 25vh;
	overflow: hidden;
	background-image: url(image.jpg);
	background-position: 50% 70%;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
}

.login	{
	width: 25%;
	position: relative;
	margin-left: 75%;
}

.transparent {
	background-color: black;
	opacity: 0.2;
	padding: 2% 10%;
	position: absolute;
	z-index: 0;
}

#logo {
	text-align: center;
	width: 100%;
	color:white;
	letter-spacing: 25px;
	opacity: 1;
	z-index: 1;
}
.container {
	width:70%;
	margin:0 auto;
}
.bold {
	font-weight: 900;
}
.italic {
	font-style: italic;
}
.kod {
	background: #48c9b0;
	border:1px solid  #0b5345 ;
}
img {
	display:block;
	margin:0 auto;
}

.space {
	display:inline-block;
	text-indent:15px;
	padding:0;
}

.red {
	color:green;
}

nav {
	top:0;
	left:0;
	margin:0 auto;
	background-color:white;
	border-bottom:1px solid silver;
	z-index:2;
	box-shadow:0 5px 10px silver;
}
nav ul, .login ul {
	display:flex;
	justify-content: space-around; 
	align-items:center;
}

nav li, .login li {
	list-style: none;
}

a {
	text-decoration: none;
	color:black;
}
a:hover {
	color:red;
}

.navmin {
	height:1%;
}


pre {
  overflow: auto;
}

table {
	margin: 0 auto;
}


/*MEDIA QUERIES */

 